<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block link%} {%endblock%}
    <title>One Piece</title>
</head>

<body>
    <header>
        <img class="cabecalho" src="{{ url_for('static', filename='R.png') }}">
    </header>

    <main class="container">
        <nav>
            <ul class="menu__navegacao">
                <li><a class="menu__navegacao__valores" href="{{url_for('index')}}">Home</a></li>
                <li><a class="menu__navegacao__valores" href="{{url_for('historia')}}">História</a></li>
                <li><a class="menu__navegacao__valores" href="{{url_for('personagens')}}">Personagens</a></li>
                <li><a class="menu__navegacao__valores" href="{{url_for('akuma')}}">Akumas no Mi</a></li>
                <li><a class="menu__navegacao__valores" href="{{url_for('curiosidade')}}">Curiosidades</a></li>
            </ul>
        </nav>

        {%block conteudo%} {%endblock%}

</body>

</html>